<!doctype html>
<html ng-app="LunchCheck" lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body>
   <div ng-controller="LunchCheckController" class="container">
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text" ng-model="list" ng-trim="true"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control">
             Note: Empty Spaces in the menu list are not considered as items.

            </div>
         <div class="form-group message" ng-style="myMsgStyle">
           <!-- Your message can go here. -->
           {{message}}
         </div>
         <div class="form-group">
             <button ng-click="calculateQuantity()" class="btn btn-default">Check If Too Much</button>
         </div>

   </div>
<script src="angular.min.js"></script>
<script src="app.js"></script>
</body>
</html>
